<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="Loremaster">
            <img src="../img/Loremaster.svg" >
        </div>
        <div class="logo">
            <img src="../img/313924544_1276320506540723_2182907989589946510_n 1.svg">
        </div>
        <div class="login-container">
            <form style="margin: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <input name="login" type="text" placeholder="jan.kowalski" style="background: #B59BAF;border: 1px solid #000000;border-radius: 40px;">
                <input name="password" type="password" placeholder="*********" style="background: #B59BAF;border: 1px solid #000000;border-radius: 40px;">
                <button>LOGIN</button>
            </form>
        </div>
    </div>
</body>