<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>REGIONSELECT</title>
</head>
<body>
    <div class="container">
        <p>
            Score: x
        </p>
        <div class = "question-container">
            <p>
                Question 1
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis, nisi sit amet mattis cursus, ligula dui dictum erat, nec vestibulum sapien eros vel erat. In hac habitasse platea dictumst.
            </p>
        </div>
        <div class = "answers-container">
            <div class = "answer">
                <p>Answer 1</p>
            </div>
            <div class = "answer">
                <p>Answer 2</p>
            </div>
            <div class = "answer">
                <p>Answer 3</p>
            </div>
            <div class = "answer">
                <p>Answer 4</p>
            </div>
        </div>
    </div>
</body>