body {
    margin: 0;
}

@font-face {
  font-family: Laila;
  src: url(../fonts/Laila-Regular.ttf);
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 21%;

    font-family: Laila;
    
    background: #A986A1 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.text {
  font-family: Laila;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(144.57deg, #19F2DE 11.92%, #A52292 79.22%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select{
    width: 40%;
    height: 21%;
}

.stext{
  font-family: Laila;
  font-size: 16px;
  font-size: 6vw;
  color: #FFE6FF;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 21%;

    background: #A986A1 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  button {
    background: #FFE6FF;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    color: #000000;
  }

  button + button {
    margin-top: 3px;
  }

  .password + button {
    margin-top: 6px;
  }

  @media only screen and (max-device-width: 420px){
    *{
        font-size: 50px;
    }
    .login-container {
        height: 19%;
        width: 80%;
      }
    .logo, .Loremaster{
        width: 100%;
    }
    .login, .password{
        text-align: center;
    }
  }